*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-container {

    width: 500px;
    max-width: 500px;
    height: fit-content;
    box-shadow: 1px 1px 5px grey;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.answer-container {

    padding: 5px;
}
.answer-container input[type='radio']{
    transform: scale(1.4);
    padding: 5px;
    margin: 5px;

}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#validate-btn {
    width: 100px;
    height: 40px;
    transition: background-color 0.2s ease-in-out;
    
}

#validate-btn:hover {
    background-color: lightblue;
    
}

.echec {
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}