
/* ------------PHASE REVEAL----------------- */

/* Box contenant le résultat du quiz avec un bouton continue et retry */
.reveal-container {

    width: 500px;
    max-width: 500px;
    height: fit-content;
    box-shadow: 1px 1px 5px grey;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    border: brown 1px solid;
}

.reveal-container-button {
    width: 200px;
    height: 40px;
}