@charset "UTF-8";
/* ---------------------HOMEPAGE PHASE--------------- */
#box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.question-container {
  width: 500px;
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.difficulty-choice-div, .theme-choice-div {
  padding: 10px;
  /* margin: 10px; */
}

.theme-choice-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: ". ." ". ." ". ." ". ." ". ." ".";
}

#play-btn {
  width: 200px;
  height: 40px;
}

/*--------------------QUIZ PHASE------------------ */
#quiz-phase {
  visibility: hidden;
  position: absolute;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer-container {
  padding: 5px;
}

.answer-container input[type='radio'] {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  padding: 5px;
  margin: 5px;
}

#validate-btn {
  width: 100px;
  height: 40px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#validate-btn :hover {
  background-color: lightblue;
}

/* ------------PHASE REVEAL----------------- */
/* Box contenant le résultat du quiz avec un bouton continue et retry */
.reveal-container {
  width: 500px;
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  border: brown 1px solid;
}

.reveal-container-button {
  width: 200px;
  height: 40px;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.echec {
  -webkit-animation: echec 0.3s ease-in-out;
          animation: echec 0.3s ease-in-out;
}

/* @keyframes echec {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
} */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */